.app-container {
  display: grid;
  grid-template-rows: 7% 92%;
  grid-row-gap: 5px;
  width: 100%;
  height: 1200px;
  max-height: 1100px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
}
.top-panel{
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}
/* .bottom-panel {
  height: 120%;
  max-height: 120%;
} */