.app-container {
  display: grid;
  grid-template-rows: 7% 92%;
  grid-row-gap: 5px;
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.top-panel{
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}
.bottom-panel {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  height: 120%;
  max-height: 120%;
}