/* status.css */
.container{
  display: flex;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  overflow: hidden;
  /* border: 1px solid rgb(204,204,204); */
  background-color: CEE5F2;
  padding: 1rem;
  width: 92%;
}
.status__container{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 110px;
  grid-gap: 6px;
}
.status__card{
  width: 100px;
  height: 100px;
  display: grid;
  text-align: center;
  position: relative;
  border: 2px solid #1995AD;
  border-radius: 20px;
  background: linear-gradient(to top right, rgb(128, 250, 246), rgb(143, 182, 255));
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in;
}
 .status__card:hover{
  transform: scale(1.1);
}
.status__img{
  display: inline-block;
  width: 30px;
  height: 30px;
}
.status__content:last-child::after{
  content: '';
  position: absolute;
  width: 2rem;
  height: 100%;
  right: -2rem;
}
.status__img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #1995AD;
  border-radius: 20%;
}
.status__title{
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  font-size: 12px;
}