/* post.css */

.post-container {
  align-items: center;
}
.button__newpost{
  height: 30px;
  width: 300px;
  background-color: #3B5998;
  color: #CEE5F2;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.card-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 58, 70, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10;
}
/* Check z Index  */
.newpost__card {
  height: 500px;
  width: 350px;
  max-height: 500px;
  max-width: 350px;
  border-radius: 20px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  17px 17px 43px #808080,
               -17px -17px 43px #ffffff;
}
.newpostcontent__container {
  display: grid;
  margin: 3px;
  width: 100%;
  height: 500px;
  max-width: 350px;
  max-height: 500px;
  justify-content: center;
  align-items: center;
}
.postcard__label{
  font-variant: small-caps;
  color: #3B5998;
  border-bottom: 2px solid #3B5998;
}
.newpost__form{
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-items: center;
  align-items: center;
}

.newpost__form .MuiFormControl-root {
  margin-bottom: 12px;
}
.newpost__textfield{
  width: 300px;
  font-size: 12px;
  box-shadow:  17px 17px 43px #dfdfdf,
  -17px -17px 43px #ffffff;
}
.newpost__form .MuiButton-root {
  margin-top: 10px;
}

button:hover {
background-color: #0056b3;
}
.post__success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(219, 219, 219,0.6);
  padding: 10px;
  border-radius: 5px;
  transition: opacity 1s ease;
}

.post__success.fade-out {
  opacity: 0.8;
}
